<div class="alert alert-light container mt-0">
    <ul>
        <li>
            <small class="text-muted">
                Operations on individual grievances require you to select a row in the grid before the operation
                will proceed.
                You can select a row in the grid by clicking one of the checkboxes in the leftmost column.
            </small>
        </li>
        <li>
            <small class="text-muted">
                Some operations on multiple grievances will cause the grid to reload, which will result
                in the de-selection of any selected rows, and the removal of any filters.
            </small>
        </li>
        <li>
            <small class="text-muted">
                To sort the rows by a given column, click a column header once for ascending, or twice for
                descending.
            </small>
        </li>
        <li>
            <small class="text-muted">
                To filter the rows for a given value in a given column,
                hover over the right edge to expose the hamburger,
                and then click the hamburger to expose filter options.
            </small>
        </li>
    </ul>
</div>
