<div class="modal fade" id="Admin_EmailDispositions_Modal" tabindex="-1" role="dialog"
    aria-labelledby="Admin_EmailDispositions_Modal_Label" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="Admin_EmailDispositions_Modal_Label">
                    Configure Disposition-Generation Job
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="alert alert-light shadow">
                    <div class="alert alert-info">
                        <p>
                            <b>Select Submitters.</b> Use the 'Select All' button to select all submitters.
                            Hold the 'Ctrl' button while clicking/tapping to select multiple groups manually.
                        </p>
                    </div>

                    <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                            <button (click)="SelectAllOptions()" class="btn btn-secondary">Select All</button>
                            <button (click)="DeselectAllOptions()" class="btn btn-secondary">Deselect All</button>
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text" id="btnGroupAddon">Minimum Number Of Submissions Filter:</div>
                            </div>
                            <input [(ngModel)]="MinNumSubmissionsPredicate" (change)="onMinNumSubmissionsChanged()"
                                class="form-control" label="Input group example" aria-describedby="btnGroupAddon"
                                type="number" min="1" required>
                        </div>
                    </div>

                    <select id="TargetEmailsSelect" (change)="HandleSelectChangeEvent($event)" class="custom-select" size="10"
                        [formControl]="RepGroupSelectControl" multiple>
                        <option *ngFor="let item of SubmissionsAndCompletions" [ngValue]="item.Email">
                            {{ item.Email }} - {{ item.SubmissionsCount }} submissions - {{ item.CompletionsPerEmail }} completed <!-- - {{ item.DispositionsSent }} dispositions sent -->
                        </option>
                    </select>

                    <br><br>

                    <details class="alert alert-success">
                        <summary>View Job Queue</summary>
                        <button class="btn btn-sm btn-dark" (click)="RefreshEmailJobQueueData()" type="button">Refresh Data</button>
                        <ul>
                            <li *ngFor="let queueItem of EmailJobQueueData">
                                <b>Submitter:</b> {{ queueItem.Email }}
                            </li>
                            <li *ngIf="EmailJobQueueData.length === 0">Queue is empty, or data was never refreshed.</li>
                        </ul>
                    </details>

                    <button *ngIf="IsTriggeringJob == false" (click)="SubmitJobs()" class="btn btn-success btn-lg shadow btn-block" type="button">
                        Trigger Disposition-Generation Job
                    </button>
                    <button *ngIf="IsTriggeringJob == true" class="btn btn-success btn-lg shadow btn-block" type="button">
                        <div class="spinner-border" role="status">
                            <span class="sr-only">Triggering Email Job...</span>
                        </div>
                    </button>

                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
