<!-- <hr>
<div class="container-fluid p-0">
    <img class="img-fluid" src="assets/img/board-only.png" alt="Section intended to be filled out by assessors">
</div> -->

<div class="text-center">
    <br>
    <h4>The Assessor Stipulation box will be appended after your submission.</h4>

    <hr>
    <h4>
        The Board of Assessment Review section will be appended after your submission.
    </h4>

    <hr>
    <!-- <h4>
        To submit, please scroll back to the top of this form and use the submit button.
    </h4>
    <h5>
        IMPORTANT: Once you hit submit you will not be able to return to this form.
    </h5> -->
    <!-- <hr> -->

    <button (click)="CompleteRp524()" class="btn btn-success btn-block shadow">Complete RP-524</button>
    <!-- <hr> -->

    <small class="text-muted">
        You'll have an opportunity to add supporting documentation to your submission in the next section.
    </small>
</div>



