<div class="container">
    <br><br>

    <div class="alert alert-warning">
        <h2>
            It appears you're using a browser that isn't supported by this application.
        </h2>

        <hr>

        <div class="alert alert-danger shadow">
            <h3>
                Internet Explorer, and Legacy Edge (versions 44 and below) are not supported.
            </h3>
        </div>

        <h4>
            Please use a different browser. If you're using classic Edge, use
            <a href="https://www.microsoft.com/edge" target="_blank" rel="noopener noreferrer">
                this link
            </a>
            to install a supported version of Edge.
        </h4>
        <h4>
            <u>
                Supported browsers include the latest versions of:
                Firefox, Chrome, Safari(12.1, 13.1), Edge(v88+), Vivaldi, and Brave.
            </u>
        </h4>
    </div>

</div>
